body {
  background-color: #f5f5f5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  margin-bottom: 1.5rem;
}

header {
  background-color: #212529;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

footer, p{
  text-align: center;
  font-family: 'love and peace', sans-serif;

}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

h2{
  color: #212529;
  font-family: 'love and peace', sans-serif;
}

@font-face {
  font-family: 'Peace and Love Outline';
  src: url('/Users/jeremykolker/Downloads/Peace-and-Love-Font-Duo-www.Dfonts.org/Peace and Love Font Duo/3. Outline/Peace and Love Font - Outline.ttf') format('truetype');
  
}
@font-face {
  font-family: 'love and peace';
  src: url('/Users/jeremykolker/Downloads/love-and-peace-font-1682860705-0/demo-loveandpeace.otf') format('truetype');
}


form {
  margin-top: 10px;
  background-color: #fff;
  color: #212529;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.search{
  text-align: center;
  z-index: 99;
}



.title {
  font-family: 'Peace and Love Outline', sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.add{
margin-top: 10px;
text-align: center;
margin-bottom: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.card {
  z-index: 99;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  
}


.card-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4px;
}

.card-image {
  margin-top: 200px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.card-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.card-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'love and peace', sans-serif;
}



.card-price {
  font-weight: 700;
  font-size: 1rem;
  color: #212529;
}

.card-size {
  font-family: 'love and peace', sans-serif;
  font-weight: 700;
  font-size: 1.rem;
  color: #fff;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-btns button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition:  0.2s;
  cursor: pointer;
}

.card-btns button:hover {
  cursor: pointer;
}

.collapsible-nav {
  margin-right: 300px;
  margin-left: 20px;
 
}


#sky {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#shootingstars {
  margin: 0;
  padding: 0;
  width: 150vh;
  height: 100vw;
  position: fixed;
  overflow: hidden;
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
    rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}


.sort-buttons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
 
}
