/* Base styling */
body {
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  margin: 0;
}

.search{
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
}

/* Header styling */
header {
  background-color: #212529;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

/* Form styling */
form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.add{
margin-top: 10px;
text-align: center;
margin-bottom: 10px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem #007bff;
}

.form-btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.form-btn:hover {
  background-color: #0069d9;
}

/* Card styling */
.card {
text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.card-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.card-image {
  margin-top: 200px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.card-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1rem;
}

.card-price {
  font-weight: 700;
  font-size: 1.25rem;
}

.card-size {
  font-weight: 700;
  font-size: 1rem;
}

.card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card-btns button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition:  0.2s;
  cursor: pointer;
}

.card-btns button:hover {
  cursor: pointer;
}

.card-edit-btn {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}